.message-box {
  background-color: #f5f5f5;
  color: #333;
  border-radius: 10px;
  padding: 4px 0px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px !important;
}
.user-name {
    padding-top:20px;
}
.user-name h2 {
  margin: 0;
  font-size: 20px;
  color: #272829;
}
.user-name > p {
    /* background-color: green; */
    margin-top: -5px;
}

.userAcc {
  width: 40px;
  height: 40px;
  background-color: #272829;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
